
* {
    box-sizing: border-box;
  }
  
  .item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 2em;
  }
  
  
  .img {
      width: 200px;
      height: 200px;
      margin: 50px auto;
  
      background: #ccc;
      text-align: center;
      color: #FFF;
      font-size: 3em;
  
  }
  

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.item1 {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    
    
    text-align: center;
    color: #FFF;
    font-size: 2em;
  }

  .divblock {
    background-color:#ebab34;
    width: 200px;
    height: 30 px; 
    float:right;
    
  }

  .divblock2 {
    background-color:#82edb1;
    width: 200px;
    height: 30 px; 
    float:left;
   
  }

  .padding-0{
    padding-right:0;
    padding-left:0;
    text-align: center;
}